body {
  height: 100vh;
  width: 100vh;
  font-weight: bold;
  color: rgb(54, 54, 54);
  background-color: rgb(230, 227, 227);
}

.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  padding: 30px 30px 60px 30px;
  box-shadow: 1px 1px 10px rgb(211, 205, 205);
}

select {
  display: block;
  width: 70%;
  margin: 10px 0;
  height: 50px;
  color: rgb(54, 54, 54);
}